/*Variables*/
/*STYLES*/
* {
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* body {
  background-color: #1f2e35;
  font-family: Poppins, san serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*Header*/
  /*HERO*/
  /* Sections*/
}

* body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto;
  max-width: 1400px;
  height: 80px;
  font-size: 16px;
}

* body header .header_logo {
  margin: 20px;
}

* body header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
}

* body header nav ul {
  list-style-type: none;
  margin: 20px;
  padding: 0;
  line-height: 40px;
}

* body header nav ul li {
  display: inline;
  padding: 20px;
}

* body header nav ul li a {
  text-decoration: none;
  color: #ffffff;
}

* body header nav .hamburger {
  margin: auto;
  color: #1f2e35;
}

* body header nav .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #1f2e35;
}

* body main {
  max-width: 1000px;
  max-height: 400px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

* body main .hero_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
}

* body main .hero_text h1 {
  text-align: center;
  padding: 10px;
}

* body main .hero_text p {
  text-align: justify;
  width: 70%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 10px;
}

* body main .hero_text .hero_buttons {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 20px;
  font-size: 18px;
}

* body main .hero_text .hero_buttons button {
  background-color: #02897a;
  border: 1px solid #ffffff;
  border-radius: 4px;
  color: #ffffff;
  padding: 10px 20px;
  font-weight: 600px;
  font-family: Poppins, san serif;
  margin: 10px;
}

* body main .hero_text .hero_buttons a {
  color: #ffffff;
}

* body main .hero_text .hero_buttons a i {
  padding: 5px;
  left: 4px;
}

* body main .hero_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
}

* body main .hero_img img {
  max-width: 100%;
  max-height: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

* body .section_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* body .section_container .section1 {
  max-width: 1000px;
  height: auto;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding: 20px;
}

* body .section_container .section1 .section_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  padding: 20px;
}

* body .section_container .section1 .section_text p {
  padding: 10px;
}

* body .section_container .section1 .section_text p i {
  color: #e0d8d6;
  padding: 10px;
}

* body .section_container .section1 .section_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
}

* body .section_container .section1 .section_img img {
  max-width: 100%;
  max-height: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

* body .video_container {
  max-width: 1000px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px;
  margin: auto;
}

* body .video_container .upper_text {
  color: #ffffff;
  padding: 20px;
}

* body .video_container iframe {
  border-radius: 12px;
}

* body .video_container .lower_text {
  background-color: #ffffff;
  width: 90%;
  border-radius: 10px 5% / 50px 25em 30px 35em;
}

* body .price_container {
  max-width: 1000px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  margin: auto;
}

* body .price_container .tablas_text {
  color: #ffffff;
  text-align: center;
  padding: 20px;
}

* body .price_container .tablas_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

* body .price_container .tablas_container .tabla1 {
  max-width: 322px;
  max-height: 456px;
  width: 100%;
  height: 100%;
  background-color: #02897a;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  margin: 15px;
  border-radius: 7px;
  text-align: center;
}

* body .price_container .tablas_container .tabla1 h4 {
  max-height: 144px;
  height: 100%;
}

* body .price_container .tablas_container .tabla1 p {
  padding: 15px;
}

* body .price_container .tablas_container .tabla1 p i {
  font-size: 70px;
  padding: 5px;
}

* body .price_container .tablas_container .tabla1 button {
  background-color: #1f2e35;
  border: 1px solid black;
  border-radius: 4px;
  color: #ffffff;
  padding: 10px 20px;
  font-weight: 600px;
  font-family: Poppins, san serif;
}

* body .price_container .tablas_container .tabla2 {
  max-width: 322px;
  max-height: 456px;
  width: 100%;
  height: 100%;
  background-color: #02897a;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  margin: 15px;
  border-radius: 7px;
  text-align: center;
}

* body .price_container .tablas_container .tabla2 h4 {
  max-height: 144px;
  height: 100%;
}

* body .price_container .tablas_container .tabla2 p {
  padding: 15px;
}

* body .price_container .tablas_container .tabla2 p i {
  font-size: 70px;
  padding: 5px;
}

* body .price_container .tablas_container .tabla2 button {
  background-color: #1f2e35;
  border: 1px solid black;
  border-radius: 4px;
  color: #ffffff;
  padding: 10px 20px;
  font-weight: 600px;
  font-family: Poppins, san serif;
}

* body .price_container .tablas_container .tabla3 {
  max-width: 322px;
  max-height: 456px;
  width: 100%;
  height: 100%;
  background-color: #02897a;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  margin: 15px;
  border-radius: 7px;
  text-align: center;
}

* body .price_container .tablas_container .tabla3 h4 {
  max-height: 144px;
  height: 100%;
}

* body .price_container .tablas_container .tabla3 p {
  padding: 15px;
}

* body .price_container .tablas_container .tabla3 p i {
  font-size: 70px;
  padding: 5px;
}

* body .price_container .tablas_container .tabla3 button {
  background-color: #1f2e35;
  border: 1px solid black;
  border-radius: 4px;
  color: #ffffff;
  padding: 10px 20px;
  font-weight: 600px;
  font-family: Poppins, san serif;
}

* body footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
  margin-top: 30px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 15px;
}

* body footer .footer_ab {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  padding: 10px;
}

* body footer .footer_recursos {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #ffffff;
  padding: 10px;
  margin: 10px;
}

* body footer .footer_legal {
  padding: 10px;
  color: #ffffff;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

* body footer .footer_signin {
  padding: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

* body footer .footer_signin h3 {
  color: #ffffff;
  text-align: center;
}

* body footer .footer_signin input[type="text"] {
  width: 100%;
  padding: 5 5 5 15;
  font-family: Poppins, san serif;
  border-radius: 4px;
  border: none;
  margin: 8px;
}

* body footer .footer_signin button {
  background-color: #02897a;
  border: 1px solid #ffffff;
  border-radius: 4px;
  color: #ffffff;
  padding: 10px 20px;
  font-weight: 600px;
  font-family: Poppins, san serif;
  font-family: Poppins, san serif;
  margin: auto;
}

/*MEDIA QUERIES*/
@media only screen and (max-width: 1100px) {
  body header {
    position: fixed;
    background-color: #1f2e35;
    width: 85%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  body header .header_logo {
    width: 80%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body header nav ul {
    background-color: #1f2e35;
    position: fixed;
    left: -120%;
    color: black;
    top: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    border-radius: 10px;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
            box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  body header nav .hamburger {
    margin: auto;
    cursor: pointer;
  }
  body header nav .hamburger .bar {
    background-color: #ffffff;
  }
  body main {
    margin-top: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 85%;
  }
  body main .hero_text {
    margin-bottom: 40px;
  }
  body main .hero_text p {
    width: 100%;
  }
  body main .hero_text a {
    font-size: 14px;
  }
  body main .hero_img {
    width: 100%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  body .section_container {
    margin-top: 300px;
  }
  body .section_container .section1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 85%;
  }
  body .section_container .section1 .section_text {
    margin-bottom: 40px;
  }
  body .section_container .section1 .section_text p {
    padding: 10px;
  }
  body .section_container .section1 .section_img {
    width: 100%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  body .video_container iframe {
    margin: auto;
  }
  body .video_container .lower_text {
    margin: auto;
  }
  body .price_container {
    width: 95%;
    margin: auto;
  }
  body .price_container .tablas_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    width: 90%;
    padding: 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .price_container .tablas_container .tabla1, body .price_container .tablas_container .tabla2, body .price_container .tablas_container .tabla3 {
    height: 100%;
    margin: 20px 0;
  }
  body .price_container .tablas_container .tabla1 h4, body .price_container .tablas_container .tabla2 h4, body .price_container .tablas_container .tabla3 h4 {
    height: auto;
  }
  body footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    padding: 0px;
    font-size: 18px;
    margin-bottom: 10px;
  }
  body footer .footer_ab {
    margin-bottom: 10px;
  }
  body footer .footer_legal {
    margin-bottom: 10px;
  }
  body footer .footer_recursos {
    margin-bottom: 10px;
  }
  body footer .footer_signin {
    margin-bottom: 10px;
  }
}
