/*Variables*/

$Font-Poppins: Poppins, san serif;
$Color-main: #1f2e35;
$color-secundary: #02897a;
$color-terciary: #ffffff;
@mixin random-bgr() {
  color: rgb(random(255), random(255), random(255));
}
@mixin price_table {
  max-width: 322px;
  max-height: 456px;
  width: 100%;
  height: 100%;
  background-color: $color-secundary;
  justify-content: center;
  padding: 20px;
  margin: 15px;
  border-radius: 7px;
  text-align: center;
  h4 {
    max-height: 144px;
    height: 100%;
  }
}

@mixin button-main {
  background-color: $Color-main;
  border: 1px solid black;
  border-radius: 4px;
  color: $color-terciary;
  padding: 10px 20px;
  font-weight: 600px;
  font-family: $Font-Poppins;
}
@mixin button-secundary {
  background-color: $color-secundary;
  border: 1px solid $color-terciary;
  border-radius: 4px;
  color: $color-terciary;
  padding: 10px 20px;
  font-weight: 600px;
  font-family: $Font-Poppins;
}
@mixin menu_links {
  border: 1px solid $color-terciary;
  border-radius: 4px;
  padding: 20px;
  background-color: $color-secundary;
}
/*STYLES*/
* {
  margin: 0px;
  box-sizing: border-box;

  body {
    background-color: $Color-main;
    font-family: $Font-Poppins;
    display: flex;
    flex-direction: column;

    /*Header*/
    header {
      display: flex;
      justify-content: space-around;
      margin: auto;
      max-width: 1400px;
      height: 80px;
      font-size: 16px;

      .header_logo {
        margin: 20px;
      }
      nav {
        display: flex;
        color: $color-terciary;

        ul {
          list-style-type: none;
          margin: 20px;
          padding: 0;
          line-height: 40px;
          li {
            display: inline;
            padding: 20px;
            a {
              text-decoration: none;
              color: $color-terciary;
            }
          }
        }
        .hamburger {
          margin: auto;
          color: $Color-main;
        }
        .bar {
          display: block;
          width: 25px;
          height: 3px;
          margin: 5px auto;
          -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          background-color: $Color-main;
        }
      }
    }
    /*HERO*/
    main {
      max-width: 1000px;
      max-height: 400px;
      width: 100%;
      height: 100%;
      display: flex;
      margin: auto;

      .hero_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $color-terciary;

        h1 {
          text-align: center;
          padding: 10px;
        }
        p {
          text-align: justify;
          width: 70%;
          align-self: center;
          padding: 10px;
        }
        .hero_buttons {
          align-self: center;
          margin: 20px;
          font-size: 18px;
          button {
            @include button-secundary();
            margin: 10px;
          }
          a {
            color: $color-terciary;
            i {
              padding: 5px;
              left: 4px;
            }
          }
        }
      }
      .hero_img {
        display: flex;
        max-width: 100%;

        img {
          max-width: 100%;
          max-height: 100%;
          align-self: center;
        }
      }
    }
    /* Sections*/
    .section_container {
      display: flex;
      flex-direction: column;
      .section1 {
        max-width: 1000px;
        height: auto;
        width: 100%;
        height: 100%;
        display: flex;
        margin: auto;
        padding: 20px;
        .section_text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          color: $color-terciary;
          padding: 20px;
          p {
            padding: 10px;
            i {
              @include random-bgr();
              padding: 10px;
            }
          }
        }
        .section_img {
          display: flex;
          max-width: 100%;

          img {
            max-width: 100%;
            max-height: 100%;
            align-self: center;
          }
        }
      }
    }

    .video_container {
      max-width: 1000px;
      width: 100%;
      display: flex;
      flex-direction: column;
      //justify-content: ;
      align-items: flex-start;
      padding: 20px;
      margin: auto;
      .upper_text {
        color: $color-terciary;
        padding: 20px;
      }
      iframe {
        border-radius: 12px;
      }
      .lower_text {
        background-color: $color-terciary;
        width: 90%;
        border-radius: 10px 5% / 50px 25em 30px 35em;
      }
    }
    .price_container {
      max-width: 1000px;
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      margin: auto;
      .tablas_text {
        color: $color-terciary;
        text-align: center;
        padding: 20px;
      }
      .tablas_container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .tabla1 {
          @include price_table();
          p {
            padding: 15px;
            i {
              font-size: 70px;
              padding: 5px;
            }
          }
          button {
            @include button-main();
          }
        }
        .tabla2 {
          @include price_table();
          p {
            padding: 15px;
            i {
              font-size: 70px;
              padding: 5px;
            }
          }
          button {
            @include button-main();
          }
        }
        .tabla3 {
          @include price_table();
          p {
            padding: 15px;
            i {
              font-size: 70px;
              padding: 5px;
            }
          }

          button {
            @include button-main();
          }
        }
      }
    }
    footer {
      display: flex;
      flex-flow: nowrap;
    margin-top: 30px;
    justify-content: space-evenly;
    padding: 15px;
    
      .footer_ab{
        align-self: center;
      text-align: center;
      padding: 10px;
    
      }
      .footer_recursos {
        align-self: center;
        color:$color-terciary;
        padding: 10px;
        margin:10px;
      }
      .footer_legal {
        padding: 10px;
        color:$color-terciary;
        align-self: center;
      }
      .footer_signin{
        h3 {
          color:$color-terciary;
          text-align: center;
        }
        padding: 10px;
        align-self: center;
        input[type="text"]{
          width: 100%;
          padding: 5 5 5 15;
          font-family:$Font-Poppins;
        border-radius: 4px;
        border: none;
        margin: 8px;
        }
        button {
          @include button-secundary();
          font-family: $Font-Poppins;
          margin:auto;
        }
      }

    }
  }
}

/*MEDIA QUERIES*/
@media only screen and (max-width: 1100px) {
  body {
    header {
      position: fixed;
      background-color: $Color-main;
      width: 85%;
      align-self: center;
      .header_logo {
        width: 80%;
        align-items: center;
      }
      nav {
        ul {
          background-color: $Color-main;
          position: fixed;
          left: -120%;
          color: black;
          top: 5rem;
          display: flex;
          flex-direction: column;
          width: 100%;
          border-radius: 10px;
          text-align: center;
          transition: 0.3s;
          box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        }
        .hamburger {
          margin: auto;
          cursor: pointer;

          .bar {
            background-color: #ffffff;
          }
        }
      }
    }
    //Hero
    main {
      margin-top: 100px;
      flex-direction: column;
      width: 85%;

      .hero_text {
        margin-bottom: 40px;
        p {
          width: 100%;
        }
        //div {

        //button {      }
        a {
          font-size: 14px;
        }
      }
      .hero_img {
        width: 100%;
        align-self: center;
      }
    }
    //SEctions
    .section_container {
      margin-top: 300px;
      .section1 {
        flex-direction: column;
        width: 85%;

        .section_text {
          margin-bottom: 40px;
          p {
            padding: 10px;
          }
        }
        .section_img {
          width: 100%;
          align-self: center;
        }
      }
    }
    .video_container {
      iframe{
        margin:auto;
      }
      .lower_text {
        margin:auto;
      }
    }
    //Tablas de precio
    .price_container {
      width: 90%;
      margin: auto;
      //.tablas_text {    }
      .tablas_container {
        display: flex;
        flex-direction: column;
        margin:0px;
        padding: 0px;
        .tabla1, .tabla2 , .tabla3 {
         
          height: 100%;

          margin:20px 0;
          h4{
            
            height: auto;
          }
        }
      }
    }
    footer {
      flex-direction: column;
      height: auto;
      padding: 0px;
  font-size: 18px;
  margin-bottom: 10px;
  .footer_ab {
    margin-bottom: 10px;
  }
  .footer_legal {
    margin-bottom: 10px;
    
    
    
  }
  .footer_recursos {
    margin-bottom: 10px;
    
  }
  .footer_signin {
    margin-bottom: 10px;
  }
      
    }
  }
}
